<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        Greetings and welcome to my Digital Garden project, a space where I openly share my notes before refining them into permanent blog posts that can be found on my website, [Thinh Vu Blog](https://thinhvu.com/). Here, you will find a collection of my musings and insights on various topics that I am passionate about. Feel free to explore and engage with me in discussions as we cultivate and nurture this digital garden together.
        </h3> 
</div> </div>

