<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NFPHDHW');</script>
        <!-- End Google Tag Manager -->
</head>
<body>
    <div class="home-intro">
        <div class="jumbo">{{site.heading}} </div>
        <div class="home-sub-text">
            🇻🇳 Chào mừng đến với "Khu vườn kỹ thuật số" của tôi, một góc nhỏ trên cõi mạng nơi tôi chia sẻ công khai các ghi chú của mình trước khi hoàn thiện chúng thành các bài viết hoàn chỉnh trên <a href="https://thinhvu.com/"> Thinh Vu Blog </a>. 
            Tại đây, bạn sẽ tìm thấy các thông tin và suy nghĩ của tôi về các chủ đề mà tôi đam mê. Hãy khám phá và tham gia thảo luận để cùng  góp sức trồng và nuôi dưỡng khu vườn này.
            <br>
            Hãy bắt đầu dạo quanh khu vườn này với danh mục nội dung tại <a href="{{'/note/MOC' | relative_url}}"> Map of Content </a>
            <br>

            Bạn có thể trao đổi thêm với tôi về bất kỳ chủ đề nào bạn cảm thấy thú vị thông qua Messenger/Linkedin.

            <div id="badges" align="center">
            <a href="https://www.linkedin.com/in/thinh-vu">
                <img src="https://img.shields.io/badge/LinkedIn-blue?style=for-the-badge&logo=linkedin&logoColor=white" alt="LinkedIn Badge"/>
            </a>
            <a href="https://www.messenger.com/t/mr.thinh.ueh">
                <img src="https://img.shields.io/badge/Messenger-00B2FF?style=for-the-badge&logo=messenger&logoColor=white" alt="Messenger Badge"/>
            </a>
            </div>

            <br>
            Để ủng hộ cho các dự án open-source của tôi đóng góp cho cộng đồng, bạn có thể quét Momo QR và mời tôi 1 ly cafe hoặc ủng hộ qua <a href = "https://paypal.me/thinhvuphoto?country.x=VN&locale.x=en_US"> Paypal</a>.  Cám ơn bạn và hẹn gặp bạn một buổi cafe khi có dịp.

            <button type="button" data-toggle="collapse" data-target="#demo">Mời tôi 1 ly cafe</button>
                <div id="demo" class="collapse">
                <img src="https://github.com/thinh-vu/vnstock/blob/main/src/momo-qr-thinhvu.jpeg?raw=true" alt="Momo QR">
            </div>
            ---

            <br>
            🇬🇧 Greetings and welcome to my Digital Garden project, a space where I openly share my notes before refining them into permanent blog posts that can be found on my website, <a href="https://thinhvu.com/"> Thinh Vu Blog </a>. Here, you will find a collection of my musings and insights on various topics that I am passionate about. Feel free to explore and engage with me in discussions as we cultivate and nurture this digital garden together.
            <br>
            Let's get started from here: <a href="{{'/note/MOC' | relative_url}}"> Map of Content </a>
    </div> </div>
</body>

